.cardList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
  margin-bottom: 32px;
}

.mat-card{
  flex: 0 1 calc(33.3% - 32px);
}
@media screen and (max-width: 959px) {
  /* Column Gap */
  .cardList > *:not(:last-child) {
    margin-right: 32px;
  }
  /* Item sizing */
  .mat-card {
    flex: 0 1 calc(50% - 32px);
  }
}
/* small size viewport */
@media screen and (max-width: 599px) {
  .cardList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .cardList > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 32px;
  }
}
.container {
  background: white;
  width: 1550px;
}

.mat-card img{
  object-fit: scale-down; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
  
}