<mat-card>

	<mat-card-title>
		New Category
	</mat-card-title>

	<mat-divider></mat-divider>

	<mat-card-content>

		<form #categoryForm="ngForm">

			<div layout = row>

				<mat-form-field flex>
					<input matInput
					[(ngModel)]="category.name"
					#elementNameControl = "ngModel"
					type="text"
					name="Name"
					placeholder="Name"
					maxlength="30"
					required=""
					>
					<mat-hint alig="start">
						<span [hidden] = "elementNameControl.pristine || 
						!elementNameControl.errors?.required" class = "tc-red-600"> Requerido
						</span>
					</mat-hint>
				</mat-form-field>
			</div>

			
		</form>
	</mat-card-content>
	<mat-divider></mat-divider>

		<mat-divider></mat-divider>

	<mat-card-actions>
		<button mat-button [disabled]="!categoryForm.valid" color="primary" (click)="save()">
		Guardar </button>
		<button mat-button (click)="redirect()"> 
		Volver </button>
	</mat-card-actions>
</mat-card>

