<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  E-Commerce
  <span class="toolbar-spacer"></span>
  
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>

    <mat-list id="menus">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>

          <mat-card-title style="font-size:17px;">{{nombre}}</mat-card-title>
        </mat-card-header>
      </mat-card>


  

      <mat-list-item>
        <button class="menu-item" mat-flat-button [routerLink]="['trabajadores']">
          <mat-icon>work</mat-icon>
          Usuarios
        </button>
      </mat-list-item>

      






      <mat-divider></mat-divider>



      <mat-list-item>
        <button class="menu-item" mat-flat-button [routerLink]="['categories']">
          <mat-icon>work</mat-icon>
          Categories
        </button>
      </mat-list-item>





      <mat-divider></mat-divider>






      <mat-divider></mat-divider>

      <mat-list-item>
        <button class="menu-item" mat-flat-button [routerLink]="['login']" (click)="logout()" (click)="changeMessage()">
          <mat-icon>exit_to_app</mat-icon>
          Log out
        </button>
      </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>